<section id="section-lista-Atleta">

  <h2>Lista De Atletas</h2>

  @for (elem of listaAtletas(); track elem.idpessoa) {

    <div class="atleta-item">

      <span class="span-dados-atleta">
        {{ elem.idpessoa }} - {{ elem.nome }} -
        {{ calcularIdade(elem.datanascimento) }} anos -
        {{ elem.peso }} kg -
        {{ elem.altura }} m -
        IMC: {{ calcularIMC(elem.peso, elem.altura).toFixed(2) }} -
        {{ classificarIMC(elem.peso, elem.altura) }} -
        Sexo: {{ elem.sexo }}
      </span>

      <span class="span-lnk-atletas">

          <a
            class="lnk-atleta lnk-alterar"
            (click)="carregaDadosAtletaForm(elem)">
            A
          </a>

          <a
            class="lnk-atleta lnk-excluir"
            (click)="excluir(elem.idpessoa)">
            E
          </a>

      </span>

    </div>

  } @empty {

    <div class="div-item-pessoa">
      NENHUM REGISTRO NA LISTA
    </div>

  }

</section>