<div class="cadastro">

    <h1>CADASTRO DE CORRIDA</h1>

    <form>

        <label for="descricao">Descrição da Corrida:</label>

        <textarea id="descricao"placeholder="Ex: 5ª Maratona Noturna da Cidade" class="input03"></textarea>


        <label for="data">Data da Corrida:</label>

        <input  type="date" id="data" class="input03">


        <label>Distâncias Disponíveis:</label>

        <div class="distancias">

            <label>
                <input type="checkbox" value="5km">
                5km
            </label>

            <label>
                <input type="checkbox" value="10km">
                10km
            </label>

            <label>
                <input type="checkbox" value="25km">
                25km
            </label>

        </div>


        <button type="submit">
            Cadastrar Corrida
        </button>

    </form>

</div>
