<div class="cadastro">

    <h1>CADASTRO DE CORRIDA</h1>

    <form (ngSubmit)="salvar()">

        <label for="descricao">Descrição da Corrida:</label>

        <textarea
            id="descricao" name="descricao" placeholder="Ex: 5ª Maratona Noturna da Cidade" 
             class="input03" [(ngModel)]="corrida.descricao_corrida"></textarea>


        <label for="data">Data da Corrida:</label>

        <input type="date" id="data" name="data" class="input03" [(ngModel)]="corrida.data_corrida">


        <label>Distâncias Disponíveis:</label>

        <div class="distancias">

            <label>
               <input type="checkbox" name="distancia5km" [(ngModel)]="corrida.distancia5km">5km </label>

            <label>
                <input type="checkbox" name="distancia10km" [(ngModel)]="corrida.distancia10km"> 10km</label>

            <label>
                <input type="checkbox" name="distancia25km" [(ngModel)]="corrida.distancia25km">25km </label>

        </div>


        <button type="submit">
            Cadastrar Corrida
        </button>

    </form>

</div>