<section id="form">

  <h2>{{!editar ? 'Cadastro ' : 'Alterar'}} de Atleta</h2>

  <form id="form-atleta" (submit)="enviarDadosAtleta()">


      <label for="nome">Nome Completo:</label>
      <input type="text" name="nome" id="nome"[(ngModel)]="nome" class="input01" maxlength="60" required placeholder="Digite o nome completo">

      <label for="datanascimento">Data de Nascimento:</label>
      <input type="date" name="datanascimento" id="datanascimento" [(ngModel)]="datanascimento" required>


      <label for="sexo">Sexo:</label>

      <input type="radio" name="sexo" id="sexo-m" [(ngModel)]="sexo" class="radio01" required value="M">
      <span>Masculino</span>

      <input type="radio" name="sexo" id="sexo-f"[(ngModel)]="sexo" class="radio01" required value="F">
      <span>Feminino</span>

      <input type="radio" name="sexo" id="sexo-n"[(ngModel)]="sexo" class="radio01" required value="N">
      <span>Não Declarar</span>


      <label for="peso">Peso (kg):</label>
      <input type="number" name="peso" id="peso" [(ngModel)]="peso" class="input02" 
      required placeholder="Digite o peso">

      <label for="altura">Altura (m):</label>
      <input type="number"name="altura" id="altura" [(ngModel)]="altura" class="input02"
       step="0.01" required placeholder="Ex.: 1.65">


      <div id="div-btns">
          <button type="submit" id="btnAdd">{{!editar ? 'Cadastrar' : 'Alterar'}}</button>

          <button type="reset" id="btnLimpar"> Limpar</button>
     </div>

     
  </form>

</section>